
<div class="col-md-8">
    <form [formGroup]="inventoryForm">
    <div class="d-flex flex-column ms-2">
    <label for="storesToSelectFrom" class="input-label">Store</label>
    <ng-select  [items]="storesToSelectFrom" placeholder="Select Store" style="max-width: 12rem;"
        labelForId="storesToSelectFrom" formControlName="storesToSelectFrom" [tabIndex]=0
        [clearable]="false" (ngModelChange)="onStoreSelectChange()" required>
        <!--  [ngClass]="{ 'is-invalid': fb.controls['storesToSelectFrom'].errors }" -->
        <ng-template ng-label-tmp let-item="item">
            <span class="label-text">{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <span class="label-text">{{item.name}}</span>
        </ng-template>
    </ng-select>
    <!-- <div *ngIf="fb.controls['storesToSelectFrom'].errors" class="invalid-feedback">
        store is required
    </div> -->


    @for (item of listCategories; track item) {
        <div>{{item['list_category_id']}}  {{item['name']}}  
            @for (inventory of storeInventory[item['list_category_id']]; track inventory) {
                <div>
                    {{inventory['inventory_name']}}
                    <div>
                        <img class="flex-row inventory-picture"
                            for="flexCheckIndeterminate" [src]="getPicture(inventory['inventory_id'])">
                    </div>
                </div>
            }
        </div>
    }


    <!-- <div class="d-flex align-items-center">
        <div>
            <img attr.class="flex-row inventory-picture {{inventoryImage[inventoryItem.inventory_id]}}"
                for="flexCheckIndeterminate" [src]='getPicture(inventoryItem.inventory_id)'>
        </div>
        <div attr.class="p-1 flex-grow-1 {{inventoryImage[inventoryItem.inventory_id]}}"
            for="flexCheckIndeterminate">
            {{inventoryItem.inventory_name}}
            @for (colorItem of inventoryItem.family_members;
            track colorItem) {
            <div class="d-inline-block family_member_dot p-1"
                [ngStyle]="{ 'background-color': colorItem.name}">
            </div>
            }
            <div attr.class="p-1 category-item-notes {{inventoryImage[inventoryItem.inventory_id]}}"
                category-item-notes>
                {{inventoryItem.inventory_notes}}
            </div>
        </div>
        <div attr.class="px-1 {{inventoryImage[inventoryItem.inventory_id]}}">
            {{adjustForDecimals(inventoryItem.quantity,inventoryItem.inventory_unit)}}
        </div>
        <div attr.class="p-0 {{inventoryImage[inventoryItem.inventory_id]}}">
            {{inventoryItem.inventory_symbol}}
        </div>
    </div> -->

    <!-- @for (inventoryItem of storeInventory;
    track inventoryItem) {
        {{inventoryItem['inventory_id']}}
    } -->


    <!-- @for (inventoryItemDetail of inventoryItem.family_members;
    track inventoryItemDetail) {
    <div class="d-flex justify-content-end">
        <div class="p-0 flex-shrink-1  {{inventoryImage[inventoryItem.inventory_id]}}">
            {{inventoryItemDetail.first_name}}
            <div class="d-inline-block {{inventoryImage[inventoryItem.inventory_id]}} family_member_dot p-1 "
                [ngStyle]="{ 'background-color': inventoryItemDetail.name}">
            </div>
        </div>
        <div class="d-flex px-1 {{inventoryImage[inventoryItem.inventory_id]}}">
            {{adjustForDecimals(inventoryItemDetail.quantity,inventoryItem.inventory_unit)}}
            {{inventoryItem.inventory_symbol}}
        </div>
    </div>
    } -->

<!-- 
    <table>
        <thead>
          <tr>
            <th *ngFor="let key of items[0] | keys">{{ key }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td *ngFor="let value of item | values">{{ value }}</td>
          </tr>
        </tbody>
      </table> -->


</div>