
.category-inventory-display {
    color: navy;
    font-weight: bold;
    border: 1px; 
    /* border-style: solid; */
    padding: 0.4rem;
    background-color: rgb(236, 244, 244);
}

.col-picture{
    max-width: 8rem;
    min-width: 4rem;
    width: 6rem;
    background-color: blueviolet;
}

.col-name{
    min-width: 5%;
    column-width: 15rem;
    background-color:coral;
}

.col-notes{
    
    min-width: 25%;
    background-color:forestgreen;
}

.col-action{
    min-width: 25%;
    background-color:forestgreen;

}

