/* You can add global styles to this file, and also import other style files */

/* @import "~@ng-select/ng-select/themes/default.theme.css"; */

@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

.family_member_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;    
}

:root {
    color-scheme: only light;
  }
  