/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"); */

.ng-select.custom {
    border:10px;
    min-height: 10px;
    border-radius: 10;
    /* border-color: #420a11 !important; */
}
.ng-select.custom .ng-control  {            
    min-height: 10px;
    border-radius: 10;
}

.ng-select.custom .ng-select-focused  {            
    min-height: 10px;
    border-radius: 10;
    border-color: #60b2f1 !important;
}

.input-frame-color {
    border: 1px solid  #ccc;
    color: black;
    border-radius: 4px;
    min-height: 36px;
    outline-color: #007eff;
    outline-width: 0;
    border-width: 1px;
    
    &:focus{
        border-color: #007eff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    }
    &:invalid{
        border-color: #ff0000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);

    }
}
