<form [formGroup]="inventoryEditForm" class="w-100 {{background}}">
    <div class="d-flex flex-row w-100">
        <div class="d-inline-flex">
            <button type="button" (click)="onPicture()" style="border:none; text-align: left;" class=" {{background}}">
                <img class="inventory-picture" [src]="inventory.picture" *ngIf="inventory.picture" />
            </button>
            @if( takePicture ) {
                <app-inventory-picture 
                    (pictureChange)="inventory.picture=$event">
                </app-inventory-picture>
            }
        </div>
        <div class="d-inline-flex flex-column w-100">
            <div class="ps-3">
                <label class="input-label">Name</label>
                <input type="text" formControlName="name" class="form-control input-sm input-frame-color">
            </div>
            <div class="ps-3">
                <label class="input-label">Notes</label>
                <textarea type="text" formControlName="notes" class="form-control input-sm input-frame-color" rows=2>
                </textarea>
            </div>
            <div class="ps-3">
                <div class="inventory-input-unit">
                    <label class="input-label">Unit</label>

                    <ng-select [items]="quantities" placeholder="Select Unit" style="max-width: 12rem;"
                        labelForId="quantities" formControlName="quantity" [tabIndex]=0 [clearable]="false"
                        required>
                        <ng-template ng-label-tmp let-item="item">
                            <span class="label-text">{{item.symbol}} / {{item.name}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <span class="label-text">{{item.symbol}} / {{item.name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="ps-3">
                <div class="inventory-input-unit">
                    <label class="input-label">Category</label>

                    <!-- <ng-select [items]="categoriesToSelectFrom" placeholder="All Categories" style="min-width: 10rem;"
                        labelForId="categoriesToSelectFrom" formControlName="categoriesToSelectFrom" [tabIndex]=0
                        [clearable]="true" (ngModelChange)="onCategorySelectChange()" required> -->


                    <ng-select [items]="list_categories" placeholder="Select Category" style="max-width: 12rem;"
                        labelForId="categories" formControlName="list_category" [tabIndex]=0 [clearable]="false"
                        required>
                        <ng-template ng-label-tmp let-item="item">
                            <span class="label-text">{{item.name}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <span class="label-text">{{item.name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="ps-3">
                <button type="button" class="ok-cancel-button {{background}} bi bi-check-circle" (click)="onDoneEdit()"> </button>
                <button type="button" class="ok-cancel-button {{background}} bi bi-x-circle " (click)="onCancelEdit()"></button>                
            </div>
        </div>
    </div>
    <br>
</form>