#inventory-grid {

	.gui-structure {
		background: #f4f8f9;
	}

	.gui-structure-border {
		border: 0 !important;
	}

	.gui-header-cell {
		background: #f4f8f9;
		font-weight: bold;

		.gui-text-view span {
			font-size: 13px;
			text-transform: uppercase;
		}

	}

	.gui-structure.gui-generic .gui-header-cell,
	.gui-structure.gui-generic .gui-structure-header-columns {
		height: 60px !important;
	}



	.gui-horizontal-grid .gui-structure-container-element .gui-content .gui-row {
		border-bottom: 10px solid transparent;
		background: transparent;
        white-space: pre-wrap;

		&.selected {
			.gui-cell {
				background: #e7f4f9;
                white-space: pre-wrap;
			}
		}

		.gui-cell {
			background: white;
			white-space: pre-wrap;
			&:active {
				/* background-color: red; */
				white-space: pre-wrap;
			}
			&:current {
				background-color: yellow;
				white-space: pre-wrap;

			}
			&:has {
				background-color: yellow;
				white-space: pre-wrap;

			}
			
			&:first-of-type {
				border-radius: 8px 0 0 8px;
			}

			&:last-of-type {
				border-radius: 0 8px 8px 0;
			}
		}
		
	}

	.gui-user-info {
		display: inline-flex;
		flex-direction: column;
		align-items: stretch;
		align-content: center;
		justify-content: center;
	}

	.gui-user-info-name {
		padding-bottom: 2px;
	}

	.gui-user-info-position {
		color: #606060;
		font-style: italic;
		font-size: 13px;
		overflow: hidden;
	}

	.gui-user-wrapper {
		width: 36px;
		height: 36px;
		margin-right: 16px;
		display: flex;
	}

	.gui-user-img {
		width: 100%;
		min-height: 100%;
		display: block;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}

	.gui-structure-summaries-panel {
		background: transparent;
	}

	.gui-structure-summaries-cell {
		border: 0;
		background: transparent;
	}

	button {
		border: inherit;
	}

}